:root {
  --navy: #0E2A47;
  --gold: #C9A24D;
  --white: #F7F7F5;
  --light-gray: #eef3f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--white);
  color: var(--navy);
  line-height: 1.6;
}

/* Header & Menu */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  background: rgba(14, 42, 71, 0.95);
  backdrop-filter: blur(5px);
  color: white;
  z-index: 100;
}

.logo-container h3{font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 60px;
  margin-right: 10px;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

nav a:hover {
  color: var(--gold);
}

nav .cta {
  background: var(--gold);
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: bold;
}
/* Hero Sections */
.hero {
  height: 100vh;
  background-image:url("../images/ANH KHU DU LICH VT - 21 ĐIA DDIEM DU LICH/16 Tuong chua ki to/tuong chua kito vung tau.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:white;
	
}

.hero small{
  height: 40vh; /* Ngắn hơn cho trang con */
  background-position: center 30%;
}

.hero-content {margin-top: 50px;}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

/* Page Layout */
section {
  padding: 80px 10%;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Grid & Cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  padding: 0 0 25px 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
  transition: 0.3s;
 margin-top: 20px;
}

.card:hover { transform: translateY(-10px); }

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content { padding: 20px; }

.btn-gold {
  background: var(--gold);
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

/* Footer */
footer {
  background: var(--navy);
  color: white;
  text-align: center;
  padding: 40px 10%;
}

	 
